.page-single-ad{
    background-color: #fff;
    padding: 0px 15px 15px 15px;
    padding-bottom: 65px;
    position: relative;
}

.page-single-ad .content{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 25px 0px;
}

.page-single-ad .imageContainer{
    margin: 0px -15px;
}

.page-single-ad .imageContainer img{
    width: 100%;
}

.page-single-ad h1{
    margin: 10px 0px;
}

.page-single-ad .buttonEditAd,
.page-single-ad .buttonRemoveAd{
    position: absolute;
    background: #333;
    color: #fff;
    height: 45px;
    width: 45px;
    font-size: 15px;
    border-radius: 100%;
    border: 0px;
}

.buttonEditAd{
    top: 10px;
    right: 10px;
}

.buttonRemoveAd{
    top: 10px;
    left: 10px;
}

.joinedListItem{
    display: flex;
}

.single-ad-column-left{
    flex: 2;
    padding-right: 10px;
}
.single-ad-column-right{
    flex: 1
}
.single-ad-column-right p{
    margin: 0px;
    margin-bottom: 5px;
}

.singleAdButtons{
    display: flex;
}

.page-single-ad button{
    width: 100%;
}

.page-single-ad .joinedListItem{
    margin-bottom: 15px;
    align-items: center;
}

.page-single-ad .joinedListItem span{
    margin-right: 20px;
}

.page-single-ad .joinedListItem button{
    width: auto;
    padding: 5px 25px;
}