body {
  width: 415px;
  margin: auto;
  background: #dadada;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: #333;
}



.page-home{
  background: rgb(248,240,229);
  background: linear-gradient(180deg, rgba(248,240,229,1) 0%, rgba(144,136,115,1) 100%);
  min-height: 735px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-home .logo{
  width: 80%
}

.page-home .bottom-buttons{
  background: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-home .bottom-buttons button{
  margin: 0px 10px;
}

.page-login,
.page-signup{
  background: #fff;
  padding: 15px;
}

.page-login form,
.page-signup form{
  display: flex;
  flex-direction: column;
}

.inputField{
  border: 2px solid #3e3e3e;
  margin-bottom: 15px;
  padding: 18px 0px 18px 11px;
  box-sizing: border-box;
}

.page-login h1{
  margin-bottom: 45px
}

.page-login .inputField{
  width: 100%;
}

.page-login .linkToSignup,
.page-signup .linkToSignup{
  margin: 40px 0px;
  display: block;;
}

.nav{
  justify-content: space-between;
  background: white;
  padding: 13px 20px;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 0px;
  width: 415px;
  margin-left: -207.5px;
  box-sizing: border-box;
  border-top: 1px solid #f1f1f1;
  box-shadow: 0 -1px 10px 0px rgba(51, 51, 51, 0.17)
}